/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  transform: translate(-120%);
  transition: .3s;
  &.order-enter-active
    background: transparent;
    transform: translate(0);

.order-exit
  transform: translate(0);
  transition: .3s;
  &.order-exit-active
    transform: translateX(120%)

.count-enter
  transform: translateY(120%)
  transition: .5s
  position: absolute
  &.count-enter-active
    transform: translateY(0)

.count-exit
  transform: translateY(0)
  transition: .5s
  &.count-exit-active
    transform: translateY(-120%)
